#visualization {
    height: 600px;
    width: 100%;
    border-style: solid;
}

#app-header {
    text-align: center;
    background-color: #222;
    height: 100px;
    width: 100%;
    color: white;
    border: solid black;
}

#network-popUp {
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  width:250px;
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:20px;
  text-align: left;
}

#new-node-type-selector {
    text-align: left;
}

.button-selected {
    color: red;
}

#notifier {
    color: red;
    margin: 0;
}

.controls {
    float: left;
    width: 33%;
}

.controls>p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.controls>button {
    font-size: 16px;
}
