#visualization {
    height: 600px;
<<<<<<< HEAD
    width: 100%;
=======
    width: 1200px;
>>>>>>> 5cd915f8d021fc97e1d4b7048b60c72b8396a1ce
}

#network-popUp {
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  width:250px;
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:20px;
  text-align: left;
}

#new-node-type-selector {
    text-align: left;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5cd915f8d021fc97e1d4b7048b60c72b8396a1ce
